@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap');

à¸´body {
    font: 18px "Nunito", sans-serif;
    color: black;
    min-height: 100vh;
    padding:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

button{

}